<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
     /* Links */
     a:hover {
         color: #BEE9E8;
     }

     /* Header Buttons on Startpage */
     a.btn {
         color: black;
          background-color: #BEE9E8;
     }
     a.btn:hover {
          background-color: #62B6CB;
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #62B6CB;
     }
     a.fn-item:hover {
          color: #BEE9E8;
     }

     /* Content / Sections */
     .post-holder.odd {
          background: #1B4965;
          color: #fbfeff;
     }
     .post-holder {
          background: #fbfeff;
     }
     body {
          color: #003d49;
     }

     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #22343A;
     }

     .blog-title {
          color: white;
          text-shadow: 0px 0px 5px #22343a7e, 0px 0px 20px #22343a;
     }

     .blog-description {
          color: #22343a;
          text-shadow: 0px 0px 5px white;
     }

     #site-head {
          position: relative;
          display: table;
          width: 100%;
          height: 100%;
          margin-bottom: 0rem;
          text-align: center;
          color: #fff;
          background: #22343a no-repeat center center;
          background-size: cover;
     }

</style> 

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">